/* Type Selector */
h1 {
  color: rgb(210, 157, 61);
  text-align: center;
  font-size: larger;
}

/* Descendant selectors */
header p {
  color: green;
}

header p span {
  color: blue;
}

/* Class selector */
.highlight {
  background-color: antiquewhite;
}

/* Combination of type and class selector */
footer .highlight {
  background-color: lightgray;
}

body {
  color: green;
}

footer {
  color: orange;
}

footer p {
  color: green;
}
